.top {
  padding: 15px;
  margin: 10px;
  text-align: center;
}

body {
  background-color: #C1B0A0;
  margin: 10px;
}

p{
    line-height: 150%;
}

h3{
  text-decoration: underline;
}

#main, #tableContainer {
  margin: 10px;
  padding: 20px;
}

img {
    border-style: groove;
}

.row {
  margin: 0px 3px 0px 3px;
}

.navContainer {
  margin: 10px;
  border-style: solid;
}

ol li {
  color: white;
}

img {
  padding: 5px;
}

@media screen and (max-width: 750px){
  body{
  background-color: red;
 }
}
